@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.95); }
}

@keyframes progress {
  from { width: 100%; }
  to { width: 0%; }
}

.animate-toast-in {
  animation: slideIn 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.animate-toast-out {
  animation: fadeOut 0.3s ease-out forwards;
}

.animate-progress {
  animation: progress linear forwards;
}



/* Navbar Patient */
@keyframes slideDown {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

nav {
  animation: slideDown 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}