
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 9.9s linear infinite;
}